.misyonandvizyon {
    
    width: 98%;
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    height: 15rem;
    font-family: 'Source Sans 3';
}

.misyon, .vizyon {
    background-color: rgb(12,12,12);
    color: white;
    flex: 1;                    
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;              
    flex-direction: column;     
    justify-content: center;     
    align-items: center;         
    padding: 1rem;
    text-align: center;
}

.misyon h2, .vizyon h2 {
    font-weight: 600;
    margin: 0.5rem 0;
}

.misyon h3, .vizyon h3 {
    font-weight: 350;
    margin: 0.5rem 0 0 0;
}
