*{
  transition: 0.1s;
}

html{
    font-family: 'Roboto';
    scroll-behavior: smooth;
}

body {
  margin: 0; 
  padding: 0;
  background-color: black;
}

a {
    text-decoration: none;
    color: inherit; 

}

