footer {
    margin-top: 20px;
    background-color: rgb(12,12,12);
    height: 8rem;
    font-family: 'Roboto';
    display: flex;
    gap: 0.2rem;
    font-style: italic;
    align-items: center;
}

.Fsection1, .Fsection2, .Fsection3 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 30%;
    margin-left: 20px;
}

.Fsection1 h3, .Fsection2 h3, .Fsection3 h3 {
    color: white;
    margin: 0;
}

.Fsection1 h4, .Fsection2 h4, .Fsection3 h4 {
    color: rgb(100,100,100);
    margin: 0;
}

a i {
    color: white;
}

a i:hover {
    color: rgba(118, 105, 221);
}

/* ---------------- Responsive ---------------- */
@media (max-width: 1024px) {

    footer {
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
        gap: 1rem;
    }

    .Fsection1, .Fsection2, .Fsection3 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    a i {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    footer {
        margin-top: 200px;
        padding: 0.8rem 0;
        gap: 0.8rem;
    }

    a i {
        font-size: 1.3rem;
    }
}
